@charset "UTF-8";
/* BEM support Func
 -------------------------- */
/**
 * @description 全局主题变量配置
 */
/* stylelint-disable */
/**
背景色： Gray-1、Gray-2、Gray-3、Gray-4
分割线： Gray-7、Gray-4、Gray-5、Gray-6
外框线： Gray-8、Gray-5、Gray-6、Gray-7
文字色： Gray-9、Gray-11、Gray-12、Gray-14
*/
.base-color {
  color: #6FBA2C; }

.base-background-color {
  background-color: #6FBA2C; }

/*主色调混合白色和黑色合成新颜色，颜色从深到浅*/
.base-header-svg-icon-color {
  color: #fff !important; }

.iconpark-icon {
  width: 16px;
  height: 16px;
  color: #fff;
  vertical-align: middle; }

.base-background-color-1 {
  background-color: rgba(222, 230, 222, 0.3); }

.base-background-color-2 {
  background-color: rgba(222, 228, 230, 0.3); }

.base-background-color-3 {
  background-color: rgba(230, 228, 222, 0.3); }

.device-info-title {
  font-size: 18px;
  color: #6a835f;
  margin-bottom: 20px;
  font-weight: bold; }

.base-color-link-c {
  color: #2D80E0; }

.base-color-link-bg {
  background-color: #2D80E0; }

.font-weight-small {
  font-weight: 510; }

.font-weight-middle {
  font-weight: 600; }

.font-weight-big {
  font-weight: 800; }

/*设备列表表格模块高度*/
/*背景色渐变sss*/
:export {
  menu-color: rgba(255, 255, 255, 0.7);
  menu-color-active: #fff;
  menu-background: #20261D;
  base-color-default: #6FBA2C;
  color-primary-light-1: #64a728;
  color-primary-light-2: #599523;
  color-primary-light-3: #4e821f;
  color-primary-light-4: #43701a;
  color-primary-light-5: #385d16;
  color-primary-light-6: #2c4a12;
  color-primary-light-7: #21380d;
  color-primary-light-8: #162509;
  color-primary-light-9: #0b1304;
  base-table-header-background-color: #393838;
  base-table-border-color: #ebebeb;
  base-table-cell-color: #fff;
  color-font-10: rgba(255, 255, 255, 0.1);
  color-font-20: rgba(255, 255, 255, 0.2);
  color-font-30: rgba(255, 255, 255, 0.3);
  color-font-40: rgba(255, 255, 255, 0.4);
  color-font-50: rgba(255, 255, 255, 0.5);
  color-font-60: rgba(255, 255, 255, 0.6);
  color-font-70: rgba(255, 255, 255, 0.7);
  color-font-80: rgba(255, 255, 255, 0.8);
  color-font-90: rgba(255, 255, 255, 0.9);
  color-bg-10: rgba(0, 0, 0, 0.1);
  color-bg-20: rgba(0, 0, 0, 0.2);
  color-bg-30: rgba(0, 0, 0, 0.3);
  color-bg-40: rgba(0, 0, 0, 0.4);
  color-bg-50: rgba(0, 0, 0, 0.5);
  color-bg-60: rgba(0, 0, 0, 0.6);
  color-bg-70: rgba(0, 0, 0, 0.7);
  color-bg-80: rgba(0, 0, 0, 0.8);
  color-bg-90: rgba(0, 0, 0, 0.9);
  base-font-weight-small: 510;
  base-font-weight-middle: 600;
  base-font-weight-big: 800;
  base-color-link: #2D80E0;
  overflow-3D-polyline-color: #000014;
  color-white-f: #fff;
  color-black-f: #000;
  color-white: #000;
  color-black: #fff; }

/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
-------------------------- */
/* Slider
-------------------------- */
/* Steps
-------------------------- */
/* Menu
-------------------------- */
/* Rate
-------------------------- */
/* DatePicker
-------------------------- */
/* Loading
-------------------------- */
/* Scrollbar
-------------------------- */
/* Carousel
-------------------------- */
/* Collapse
-------------------------- */
/* Transfer
-------------------------- */
/* Header
  -------------------------- */
/* Footer
-------------------------- */
/* Main
-------------------------- */
/* Timeline
-------------------------- */
/* Backtop
-------------------------- */
/* Link
-------------------------- */
/* Calendar
-------------------------- */
/* Form
-------------------------- */
/* Avatar
-------------------------- */
/* Empty
-------------------------- */
/* Descriptions
-------------------------- */
/* Skeleton 
--------------------------*/
/* Svg
--------------- */
/* Result
-------------------------- */
/* Break-point
-------------------------- */
body .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #eef1ec;
  font-weight: 700; }

body .el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px; }

body .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: transparent;
  color: #6FBA2C;
  border: 1px solid #6FBA2C;
  font-weight: bold; }

body .el-year-table td.current:not(.disabled) .cell,
body .el-month-table td.current:not(.disabled) .cell {
  color: #000;
  background-color: #6FBA2C;
  border-radius: 8px; }

body .el-year-table td.disabled .cell,
body .el-month-table td.disabled .cell {
  border-radius: 8px; }

body .el-pagination.is-background .btn-prev:disabled,
body .el-pagination.is-background .btn-next:disabled {
  color: inherit;
  background-color: transparent; }

body .el-table::before,
body .el-table__fixed-right::before {
  background-color: #f0f0f0; }

html body .el-table {
  border-radius: 5px; }

body .popover-table.el-table::before,
body .popover-table.el-table__fixed-right::before {
  background-color: rgba(0, 0, 0, 0.06); }

body .popover-table.el-table th .cell {
  padding: 0;
  white-space: nowrap;
  overflow: visible; }

body .el-empty__description p {
  font-size: 16px;
  color: #fff;
  margin-top: 10px; }

.diy-my-popper.el-tooltip__popper.is-light {
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.36));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.36));
  opacity: 1;
  max-width: 560px;
  position: relative;
  border-color: #000; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
    border-top-color: #dcdfe6; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #dcdfe6; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow {
    border-left-color: #dcdfe6; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
    border-right-color: #dcdfe6; }

.el-tooltip__popper.is-dark[x-placement^=top] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.el-tooltip__popper.is-dark[x-placement^=bottom] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.el-tooltip__popper.is-dark[x-placement^=left] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.el-tooltip__popper.is-dark[x-placement^=right] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.diy-my-popover.el-popover[x-placement^=top] .popper__arrow {
  border-top-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=top] .popper__arrow::after {
  border-top-color: #000; }

.diy-my-popover.el-popover[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #000; }

.diy-my-popover.el-popover[x-placement^=left] .popper__arrow {
  border-left-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=left] .popper__arrow::after {
  border-left-color: #000; }

.diy-my-popover.el-popover[x-placement^=right] .popper__arrow {
  border-right-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=right] .popper__arrow::after {
  border-right-color: #000; }

.diy-my-popover.el-popover {
  border-color: #dcdfe6; }

body .el-button.is-plain {
  background-color: transparent; }

body .el-button--primary.is-plain {
  border-color: #6FBA2C;
  font-weight: 600; }
  body .el-button--primary.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--primary.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--success.is-plain {
  border-color: #6FBA2C;
  font-weight: 600; }
  body .el-button--success.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--success.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--warning.is-plain {
  border-color: #e08114;
  font-weight: 600; }
  body .el-button--warning.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--warning.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--danger.is-plain {
  border-color: #E03C36;
  font-weight: 600; }
  body .el-button--danger.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--danger.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--info.is-plain {
  border-color: #909399;
  font-weight: 600; }
  body .el-button--info.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--info.is-plain.diy-plain {
    border-width: 2px; }

/*菜单子项hover不再背景高亮*/
body .el-menu .el-menu-item:hover,
body .el-menu .el-submenu:hover .el-submenu__title {
  background-color: #20261D !important; }

/*重定义表格排序图标*/
body .el-table .is-sortable .caret-wrapper {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url("~@/assets/element/table-sort-default.png");
  background-size: 100% 100%; }
  body .el-table .is-sortable .caret-wrapper .sort-caret {
    display: none; }

body .el-table .is-sortable.ascending .caret-wrapper {
  background: url("~@/assets/element/table-sort-ascending.png");
  background-size: 100% 100%; }

body .el-table .is-sortable.descending .caret-wrapper {
  background: url("~@/assets/element/table-sort-descending.png");
  background-size: 100% 100%; }

/*重定义下拉框箭头图标*/
body .el-select__caret.el-input__icon.el-icon-arrow-up {
  background: url("~@/assets/element/xiangshangjiantou.png");
  background-size: 100% 100%;
  height: 16px;
  width: 16px;
  margin-top: 8px; }
  body .el-select__caret.el-input__icon.el-icon-arrow-up:before {
    display: none; }
  body .el-select__caret.el-input__icon.el-icon-arrow-up:after {
    display: none; }

body .el-input-number.is-without-controls .el-input__inner {
  text-align: left; }

body .el-tabs__item.is-active {
  font-weight: bold; }

body .el-message-box__status.el-icon-warning {
  color: #E03C36; }

body .el-table__fixed-right-patch {
  border-bottom: none;
  top: 0; }

body .el-table::before {
  width: calc(100% - 13px); }

body .el-tabs__nav-wrap::after {
  height: 1px; }

body .iconpark-icon.el-tooltip-normal-icon {
  color: #b7bcb4; }

body .el-form-item-no-star.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
  display: none; }

@media (max-width: 768px) {
  body .el-date-range-picker .el-picker-panel__body {
    min-width: 100%; }
  body .el-date-range-picker__content {
    width: 100%; }
  body .el-date-range-picker__content.is-left .el-picker-panel__icon-btn.el-icon-d-arrow-left, body .el-date-range-picker__content.is-left .el-picker-panel__icon-btn.el-icon-arrow-left {
    float: right; }
  .intelligent-date-picker {
    width: 90%; } }

body .el-button--primary.is-plain {
  color: #64AE19; }

/* Break-points
 -------------------------- */
/* Scrollbar
 -------------------------- */
/* Placeholder
 -------------------------- */
/* BEM
 -------------------------- */
/**
 * @description 全局主题变量配置
 */
/* stylelint-disable */
/**
背景色： Gray-1、Gray-2、Gray-3、Gray-4
分割线： Gray-7、Gray-4、Gray-5、Gray-6
外框线： Gray-8、Gray-5、Gray-6、Gray-7
文字色： Gray-9、Gray-11、Gray-12、Gray-14
*/
.base-color {
  color: #6FBA2C; }

.base-background-color {
  background-color: #6FBA2C; }

/*主色调混合白色和黑色合成新颜色，颜色从深到浅*/
.base-header-svg-icon-color {
  color: #fff !important; }

.iconpark-icon {
  width: 16px;
  height: 16px;
  color: #fff;
  vertical-align: middle; }

.base-background-color-1 {
  background-color: rgba(222, 230, 222, 0.3); }

.base-background-color-2 {
  background-color: rgba(222, 228, 230, 0.3); }

.base-background-color-3 {
  background-color: rgba(230, 228, 222, 0.3); }

.device-info-title {
  font-size: 18px;
  color: #6a835f;
  margin-bottom: 20px;
  font-weight: bold; }

.base-color-link-c {
  color: #2D80E0; }

.base-color-link-bg {
  background-color: #2D80E0; }

.font-weight-small {
  font-weight: 510; }

.font-weight-middle {
  font-weight: 600; }

.font-weight-big {
  font-weight: 800; }

/*设备列表表格模块高度*/
/*背景色渐变sss*/
:export {
  menu-color: rgba(255, 255, 255, 0.7);
  menu-color-active: #fff;
  menu-background: #20261D;
  base-color-default: #6FBA2C;
  color-primary-light-1: #64a728;
  color-primary-light-2: #599523;
  color-primary-light-3: #4e821f;
  color-primary-light-4: #43701a;
  color-primary-light-5: #385d16;
  color-primary-light-6: #2c4a12;
  color-primary-light-7: #21380d;
  color-primary-light-8: #162509;
  color-primary-light-9: #0b1304;
  base-table-header-background-color: #393838;
  base-table-border-color: #ebebeb;
  base-table-cell-color: #fff;
  color-font-10: rgba(255, 255, 255, 0.1);
  color-font-20: rgba(255, 255, 255, 0.2);
  color-font-30: rgba(255, 255, 255, 0.3);
  color-font-40: rgba(255, 255, 255, 0.4);
  color-font-50: rgba(255, 255, 255, 0.5);
  color-font-60: rgba(255, 255, 255, 0.6);
  color-font-70: rgba(255, 255, 255, 0.7);
  color-font-80: rgba(255, 255, 255, 0.8);
  color-font-90: rgba(255, 255, 255, 0.9);
  color-bg-10: rgba(0, 0, 0, 0.1);
  color-bg-20: rgba(0, 0, 0, 0.2);
  color-bg-30: rgba(0, 0, 0, 0.3);
  color-bg-40: rgba(0, 0, 0, 0.4);
  color-bg-50: rgba(0, 0, 0, 0.5);
  color-bg-60: rgba(0, 0, 0, 0.6);
  color-bg-70: rgba(0, 0, 0, 0.7);
  color-bg-80: rgba(0, 0, 0, 0.8);
  color-bg-90: rgba(0, 0, 0, 0.9);
  base-font-weight-small: 510;
  base-font-weight-middle: 600;
  base-font-weight-big: 800;
  base-color-link: #2D80E0;
  overflow-3D-polyline-color: #000014;
  color-white-f: #fff;
  color-black-f: #000;
  color-white: #000;
  color-black: #fff; }

/* Transition
-------------------------- */
/* Color
-------------------------- */
/* 53a8ff */
/* 66b1ff */
/* 79bbff */
/* 8cc5ff */
/* a0cfff */
/* b3d8ff */
/* c6e2ff */
/* d9ecff */
/* ecf5ff */
/* Link
-------------------------- */
/* Border
-------------------------- */
/* Fill
-------------------------- */
/* Typography
-------------------------- */
/* Size
-------------------------- */
/* z-index
-------------------------- */
/* Disable base
-------------------------- */
/* Icon
-------------------------- */
/* Checkbox
-------------------------- */
/* Radio
-------------------------- */
/* Select
-------------------------- */
/* Alert
-------------------------- */
/* MessageBox
-------------------------- */
/* Message
-------------------------- */
/* Notification
-------------------------- */
/* Input
-------------------------- */
/* Cascader
-------------------------- */
/* Group
-------------------------- */
/* Tab
-------------------------- */
/* Button
-------------------------- */
/* cascader
-------------------------- */
/* Switch
-------------------------- */
/* Dialog
-------------------------- */
/* Table
-------------------------- */
/* Pagination
-------------------------- */
/* Popup
-------------------------- */
/* Popover
-------------------------- */
/* Tooltip
-------------------------- */
/* Tag
-------------------------- */
/* Tree
-------------------------- */
/* Dropdown
-------------------------- */
/* Badge
-------------------------- */
/* Card
-------------------------- */
/* Slider
-------------------------- */
/* Steps
-------------------------- */
/* Menu
-------------------------- */
/* Rate
-------------------------- */
/* DatePicker
-------------------------- */
/* Loading
-------------------------- */
/* Scrollbar
-------------------------- */
/* Carousel
-------------------------- */
/* Collapse
-------------------------- */
/* Transfer
-------------------------- */
/* Header
  -------------------------- */
/* Footer
-------------------------- */
/* Main
-------------------------- */
/* Timeline
-------------------------- */
/* Backtop
-------------------------- */
/* Link
-------------------------- */
/* Calendar
-------------------------- */
/* Form
-------------------------- */
/* Avatar
-------------------------- */
/* Empty
-------------------------- */
/* Descriptions
-------------------------- */
/* Skeleton 
--------------------------*/
/* Svg
--------------- */
/* Result
-------------------------- */
/* Break-point
-------------------------- */
body .el-tree--highlight-current .el-tree-node.is-current > .el-tree-node__content {
  background-color: #eef1ec;
  font-weight: 700; }

body .el-table-column--selection .cell {
  padding-left: 10px;
  padding-right: 10px; }

body .el-pagination.is-background .el-pager li:not(.disabled).active {
  background-color: transparent;
  color: #6FBA2C;
  border: 1px solid #6FBA2C;
  font-weight: bold; }

body .el-year-table td.current:not(.disabled) .cell,
body .el-month-table td.current:not(.disabled) .cell {
  color: #000;
  background-color: #6FBA2C;
  border-radius: 8px; }

body .el-year-table td.disabled .cell,
body .el-month-table td.disabled .cell {
  border-radius: 8px; }

body .el-pagination.is-background .btn-prev:disabled,
body .el-pagination.is-background .btn-next:disabled {
  color: inherit;
  background-color: transparent; }

body .el-table::before,
body .el-table__fixed-right::before {
  background-color: #f0f0f0; }

html body .el-table {
  border-radius: 5px; }

body .popover-table.el-table::before,
body .popover-table.el-table__fixed-right::before {
  background-color: rgba(0, 0, 0, 0.06); }

body .popover-table.el-table th .cell {
  padding: 0;
  white-space: nowrap;
  overflow: visible; }

body .el-empty__description p {
  font-size: 16px;
  color: #fff;
  margin-top: 10px; }

.diy-my-popper.el-tooltip__popper.is-light {
  -webkit-filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.36));
  filter: drop-shadow(0px 0px 1px rgba(0, 0, 0, 0.36));
  opacity: 1;
  max-width: 560px;
  position: relative;
  border-color: #000; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=top] .popper__arrow {
    border-top-color: #dcdfe6; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=bottom] .popper__arrow {
    border-bottom-color: #dcdfe6; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=left] .popper__arrow {
    border-left-color: #dcdfe6; }
  .diy-my-popper.el-tooltip__popper.is-light[x-placement^=right] .popper__arrow {
    border-right-color: #dcdfe6; }

.el-tooltip__popper.is-dark[x-placement^=top] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.el-tooltip__popper.is-dark[x-placement^=bottom] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.el-tooltip__popper.is-dark[x-placement^=left] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.el-tooltip__popper.is-dark[x-placement^=right] .popper__arrow::after {
  -webkit-transform: scale(1.4);
  transform: scale(1.4); }

.diy-my-popover.el-popover[x-placement^=top] .popper__arrow {
  border-top-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=top] .popper__arrow::after {
  border-top-color: #000; }

.diy-my-popover.el-popover[x-placement^=bottom] .popper__arrow {
  border-bottom-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: #000; }

.diy-my-popover.el-popover[x-placement^=left] .popper__arrow {
  border-left-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=left] .popper__arrow::after {
  border-left-color: #000; }

.diy-my-popover.el-popover[x-placement^=right] .popper__arrow {
  border-right-color: #dcdfe6; }

.diy-my-popover.el-popover[x-placement^=right] .popper__arrow::after {
  border-right-color: #000; }

.diy-my-popover.el-popover {
  border-color: #dcdfe6; }

body .el-button.is-plain {
  background-color: transparent; }

body .el-button--primary.is-plain {
  border-color: #6FBA2C;
  font-weight: 600; }
  body .el-button--primary.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--primary.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--success.is-plain {
  border-color: #6FBA2C;
  font-weight: 600; }
  body .el-button--success.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--success.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--warning.is-plain {
  border-color: #e08114;
  font-weight: 600; }
  body .el-button--warning.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--warning.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--danger.is-plain {
  border-color: #E03C36;
  font-weight: 600; }
  body .el-button--danger.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--danger.is-plain.diy-plain {
    border-width: 2px; }

body .el-button--info.is-plain {
  border-color: #909399;
  font-weight: 600; }
  body .el-button--info.is-plain [class^='el-icon-'] {
    font-weight: 600; }
  body .el-button--info.is-plain.diy-plain {
    border-width: 2px; }

/*菜单子项hover不再背景高亮*/
body .el-menu .el-menu-item:hover,
body .el-menu .el-submenu:hover .el-submenu__title {
  background-color: #20261D !important; }

/*重定义表格排序图标*/
body .el-table .is-sortable .caret-wrapper {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-left: 5px;
  background: url("~@/assets/element/table-sort-default.png");
  background-size: 100% 100%; }
  body .el-table .is-sortable .caret-wrapper .sort-caret {
    display: none; }

body .el-table .is-sortable.ascending .caret-wrapper {
  background: url("~@/assets/element/table-sort-ascending.png");
  background-size: 100% 100%; }

body .el-table .is-sortable.descending .caret-wrapper {
  background: url("~@/assets/element/table-sort-descending.png");
  background-size: 100% 100%; }

/*重定义下拉框箭头图标*/
body .el-select__caret.el-input__icon.el-icon-arrow-up {
  background: url("~@/assets/element/xiangshangjiantou.png");
  background-size: 100% 100%;
  height: 16px;
  width: 16px;
  margin-top: 8px; }
  body .el-select__caret.el-input__icon.el-icon-arrow-up:before {
    display: none; }
  body .el-select__caret.el-input__icon.el-icon-arrow-up:after {
    display: none; }

body .el-input-number.is-without-controls .el-input__inner {
  text-align: left; }

body .el-tabs__item.is-active {
  font-weight: bold; }

body .el-message-box__status.el-icon-warning {
  color: #E03C36; }

body .el-table__fixed-right-patch {
  border-bottom: none;
  top: 0; }

body .el-table::before {
  width: calc(100% - 13px); }

body .el-tabs__nav-wrap::after {
  height: 1px; }

body .iconpark-icon.el-tooltip-normal-icon {
  color: #b7bcb4; }

body .el-form-item-no-star.el-form-item.is-required:not(.is-no-asterisk) .el-form-item__label-wrap > .el-form-item__label:before {
  display: none; }

@media (max-width: 768px) {
  body .el-date-range-picker .el-picker-panel__body {
    min-width: 100%; }
  body .el-date-range-picker__content {
    width: 100%; }
  body .el-date-range-picker__content.is-left .el-picker-panel__icon-btn.el-icon-d-arrow-left, body .el-date-range-picker__content.is-left .el-picker-panel__icon-btn.el-icon-arrow-left {
    float: right; }
  .intelligent-date-picker {
    width: 90%; } }

body .el-button--primary.is-plain {
  color: #64AE19; }

.el-notification {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 330px;
  padding: 14px 26px 14px 13px;
  border-radius: 8px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #ebebeb;
  position: fixed;
  background-color: #000;
  -webkit-box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.1);
  box-shadow: 0 2px 12px 0 rgba(255, 255, 255, 0.1);
  -webkit-transition: opacity .3s, left .3s, right .3s, top 0.4s, bottom .3s, -webkit-transform .3s;
  transition: opacity .3s, left .3s, right .3s, top 0.4s, bottom .3s, -webkit-transform .3s;
  transition: opacity .3s, transform .3s, left .3s, right .3s, top 0.4s, bottom .3s;
  transition: opacity .3s, transform .3s, left .3s, right .3s, top 0.4s, bottom .3s, -webkit-transform .3s;
  overflow: hidden; }
  .el-notification.right {
    right: 16px; }
  .el-notification.left {
    left: 16px; }
  .el-notification__group {
    margin-left: 13px;
    margin-right: 8px; }
  .el-notification__title {
    font-weight: bold;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.9);
    margin: 0; }
  .el-notification__content {
    font-size: 14px;
    line-height: 21px;
    margin: 6px 0 0 0;
    color: #fff;
    text-align: justify; }
    .el-notification__content p {
      margin: 0; }
  .el-notification__icon {
    height: 24px;
    width: 24px;
    font-size: 24px; }
  .el-notification__closeBtn {
    position: absolute;
    top: 18px;
    right: 15px;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.5);
    font-size: 16px; }
    .el-notification__closeBtn:hover {
      color: #fff; }
  .el-notification .el-icon-success {
    color: #6FBA2C; }
  .el-notification .el-icon-error {
    color: #E03C36; }
  .el-notification .el-icon-info {
    color: #909399; }
  .el-notification .el-icon-warning {
    color: #e08114; }

.el-notification-fade-enter.right {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%); }

.el-notification-fade-enter.left {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%); }

.el-notification-fade-leave-active {
  opacity: 0; }
